/**
 * This file includes all the Gutenberg styling.
 *
 * Note that the Gutenberg blocks are imported block-by-block,
 * in the src/blocks directory.
 */
@import "src/scss/abstracts/_all.scss";

/**
 * Base files
 */
@import 'base/gutenberg';
@import 'base/config';

/**
 * Common files shared between app and admin.
 * Wrap the styles so they don't conflict with wordpress styles
 */
.acf-block-preview {
	@import 'common';
}

/*
	WPML meta box styling. hides confusing settings
*/
#icl_div {

	.inside {
		display: flex;
		align-items: stretch;
		flex-flow: row wrap;

		#icl_translate_options {
			flex: 0 0 100%;
		}

		& > strong {
			margin: 2em 0 1em;
			display: block;
		}
	}

	br,
	.otgs-toggle-group,
	.otgs-switcher,
	.icl_toggle_show_translations,
	#icl_translation_priority_dropdown {
		display: none !important;
	}

	label {
		display: block;
		margin-bottom: 1em;
	}

	#icl_translations_table {
		display: block !important;
		margin-bottom: 10px !important;

		td:first-child {
			padding-left: 11px !important;
		}
	}

	.button-secondary {
		padding: 10px 20px;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		max-width: calc(100% - 18px);
		text-align: left;
	}

	.otgs-ico-help {
		border: 1px solid #1e1e1e;
		background: #1e1e1e;
		height: 60px;
		display: block;
		margin-bottom: 7px;
		display: flex;
		align-items: center;
		border-radius: 3px;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		color: #fff;
	}

	.icl_box_paragraph,
	#icl_document_language_dropdown {
		float: none;
		clear: none;
		display: block;
		display: flex;
		flex-flow: row wrap;
		margin: 0 0 1.2rem;

		select {
			flex: 0 0 100%;
		}

		p {
			margin-bottom: 1em;
			label {
				margin: 0;
			}
		}
	}

}
