select,
input,
button {
	font: inherit;
	line-height: inherit;
	&:focus {
		outline: none;
	}
}

.select-wrapper {
	display: flex;
	align-items: center;
	position: relative;

	select {
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
		padding: 0;
		display: block;
		font-size: inherit;
		line-height: 1;
		appearance: none;
		padding-right: 18px;
	}

	.select-icon {
		pointer-events: none;
		position: absolute;
		right: 0;
		margin-bottom: 2px;
	}

}

input {
	appearance: none;
	border: none;
	background: transparent;
	color: inherit;
	transition: background 0.2s ease-in-out;

	&[type="date"]::-webkit-inner-spin-button {
		display: none;
		-webkit-appearance: none;
		opacity: 0;
	}

	&[type="date"]::-webkit-calendar-picker-indicator {
		background: transparent;
		bottom: 0;
		color: transparent;
		cursor: pointer;
		height: auto;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
	}

	&[type=number]::-webkit-inner-spin-button,
	&[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&::placeholder {
		color: inherit;
		opacity: 0.5;
	}

	&:focus {
		outline: none;
		background: var(--color__pink-medium);
	}
}
